#KUBECONFIG_OVERRIDE=~/.kube/config
# KUBE_CONTEXT=my-cluster
# KUBE_CTX=my-cluster
LOG_LEVEL=DEBUG
LOG_FORMAT=logfmt
DRY_RUN=1
# NODE_LABEL_SELECTOR=karpenter.sh/capacity-type=spot
# POD_LABEL_SELECTOR=app=myapp,env=production
# POD_ANNOTATION_SELECTOR=discruption-rollout=true
# ALLOWED_NAMESPACES=default,production
